/prjExemploRetangulo_1/build/
/prjExemploRetangulo_2/nbproject/private/
/prjExemploRetangulo_2/build/
/prjExercicioCirculo/nbproject/private/
/prjExercicioCirculo/build/
/JavaApplication1/nbproject/private/
/prjExercicioAluno/nbproject/private/
/prjExercicioAluno/build/
/prjLivro/nbproject/private/