/prjExemploRetangulo_1/build/
/prjExemploRetangulo_2/nbproject/private/
/prjExemploRetangulo_2/build/
/prjExercicioCirculo/nbproject/private/
/prjExercicioCirculo/build/
/JavaApplication1/nbproject/private/
/prjExercicioAluno/nbproject/private/
/prjExercicioAluno/build/
/prjCirculoMetodoConstrutor/nbproject/private/
/prjCirculoMetodoConstrutor/build/
/prjContaCorrente/nbproject/private/
/prjContaCorrente/build/